/* 
use flex
position: absolute  */
h1 {
    color: #e834bb;
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
  }
#egg {
    position: absolute;
    display: flex;
    z-index: 4;
    border-radius: 10%;
      }
    

#egg: hover {
}

#baby {
    position: absolute;
    display: flex;
    z-index: 3;
    
}
#child {
    position: absolute;
    display: flex;
    z-index: 2;
    
}
#adult {
    position: absolute;
    display: flex;
    z-index: 1;
    size: 70px;
   
}