/* 
use flex
position: absolute  */

h1 {
    color: #e834bb;
    text-align: center;
}

section {
    text-align: center;
}

.button {
    align-items: center;
    margin-left: 340px;
}

.pics {
    text-align: center;
    display: block;
    margin-left: 300px;
      }
  
#egg {
    position: absolute;
    justify-content: center;
    display: block;
    z-index: 4;
      }
    

#egg: hover {
}

#baby {
    position: absolute;
    justify-content: center;
    display: block;
    z-index: 3;
    
}
#child {
    position: absolute;
    justify-content: center;
    display: block;
    z-index: 2;
    
    
}
#adult {
    position: absolute;
    justify-content: center;
    display: block;
    z-index: 1;
}